.cabecalho{
    background-color: black;
    color: white;
    text-align: center;
}

.corpo{
    background-color: yellow;
}

.footer{
    background-color: black;
    color: white;
    font-size: 50%;
}

.#{
    display: inline-block;
    text-align: center;
}