.cabecalho{
    background-color: black;
    color: white;
    text-align: center;
}

.corpo{
    background-color: yellow;
}

.footer{
    background-color: black;
    color: white;
    font-size: 50%;
}

li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.bosta{
    text-align: center;
    font-size: 150%;
}